

body {
    background-image:url(/images/quelthalas.jpg);
    background-repeat: no-repeat;
      background-size: 2000px 950px;
    
}

h1 {font-family:Verdana, Geneva, Tahoma, sans-serif;}

.hero {
    text-align:center;
    margin-top: 50px;
    
}
